news-infrastructure/logic-apps.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "queueApiConnectionName": {
            "type": "string",
            "minLength": 1,
            "metadata": {
                "description": "Describes the name of the Api Connection resource"
            },
            "defaultValue": "queueApiConnectionName"
        },
        "storageAccountName": {
            "type": "string",
            "minLength": 1,
            "metadata": {
                "description": "Describes the name of the Storage Account resource"
            },
            "defaultValue": "storageAccountName"
        },
        "storageAccountKey": {
            "type": "securestring",
            "minLength": 1,
            "metadata": {
                "description": "Storage Account Key"
            },
            "defaultValue": "storageAccountKey"
        },
        "rssApiConnectionName": {
            "type": "string",
            "minLength": 1,
            "metadata": {
                "description": "Describes the name of the Api Connection resource"
            },
            "defaultValue": "rssApiConnectionName"
        },
        "logicAppName": {
            "type": "string",
            "minLength": 1,
            "metadata": {
                "description": "Describes the name of the Logic App resource"
            },
            "defaultValue": "logicAppName"
        },
        "feedUrl": {
            "type": "string",
            "minLength": 1,
            "metadata": {
                "description": "URL to RSS feed"
            },
            "defaultValue": "feedUrl"
        }
    },
    "variables": {
        "rssConnectionResourceId": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/', parameters('rssApiConnectionName'))]",
        "rssConnectionApiId": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/rss')]",
        "queueConnectionResourceId": "[concat('/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/', parameters('queueApiConnectionName'))]",
        "queueConnectionApiId": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azurequeues')]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "name": "[parameters('queueApiConnectionName')]",
            "properties": {
                "api": {
                    "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azurequeues')]"
                },
                "displayName": "azurequeues",
                "nonSecretParameterValues": {},
                "parameterValues": {
                    "storageaccount": "[parameters('storageAccountName')]",
                    "sharedkey": "[parameters('storageAccountKey')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "name": "[parameters('rssApiConnectionName')]",
            "properties": {
                "api": {
                    "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/rss')]"
                },
                "displayName": "[parameters('rssApiConnectionName')]",
                "parameterValues": {}
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('rssApiConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', parameters('queueApiConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Put_a_message_on_a_queue": {
                            "inputs": {
                                "body": "{\nid:\"@{triggerBody()?['id']}\",\ndate:\"@{triggerBody()?['publishDate']}\",\ntitle:\"@{triggerBody()?['title']}\",\nurl:\"@{triggerBody()?['primaryLink']}\",\nsummary:\"@{triggerBody()?['summary']}\"\n}",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurequeues']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/@{encodeURIComponent('news')}/messages"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_feed_item_is_published": {
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['rss']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/OnNewFeed",
                                "queries": {
                                    "feedUrl": "https://azurecomcdn.azureedge.net/en-us/blog/feed/"
                                }
                            },
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 10
                            },
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnection"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurequeues": {
                                "connectionId": "[variables('queueConnectionResourceId')]",
                                "connectionName": "azurequeues",
                                "id": "[variables('queueConnectionApiId')]"
                            },
                            "rss": {
                                "connectionId": "[variables('rssConnectionResourceId')]",
                                "connectionName": "rss",
                                "id": "[variables('rssConnectionApiId')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[concat(parameters('logicAppName'), '-initial-load')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('rssApiConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', parameters('queueApiConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('List_all_RSS_feed_items')",
                            "actions": {
                                "Put_a_message_on_a_queue": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "{\nid: \"@{items('For_each')?['id']}\",\ndate: \"@{items('For_each')?['publishDate']}\",\ntitle:\"@{items('For_each')['title']}\",\nurl:\"@{items('For_each')?['primaryLink']}\",\nsummary:\"@{items('For_each')?['summary']}\"\n}",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurequeues']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/@{encodeURIComponent('news')}/messages"
                                    }
                                }
                            },
                            "runAfter": {
                                "List_all_RSS_feed_items": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "List_all_RSS_feed_items": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['rss']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/ListFeedItems",
                                "queries": {
                                    "feedUrl": "https://azurecomcdn.azureedge.net/en-us/blog/feed/",
                                    "since": "2019-04-01 00:00:00Z"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurequeues": {
                                "connectionId": "[variables('queueConnectionResourceId')]",
                                "connectionName": "azurequeues",
                                "id": "[variables('queueConnectionApiId')]"
                            },
                            "rss": {
                                "connectionId": "[variables('rssConnectionResourceId')]",
                                "connectionName": "rss",
                                "id": "[variables('rssConnectionApiId')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}